.load {

    width: $size*10;
    display: flex;
    justify-content: space-evenly;

    &__bar {
        
        height: 100%;
        width: $size;
        animation: bounce 0.85s backwards infinite ease-in-out alternate;
        
    }
}

@keyframes bounce {
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}

.load__bar--1 {
    animation-delay: 1000ms;
    width: 300px;
}

.load__bar--3 {
    animation-delay: 600ms;
    width: 300px;
    
}

.load__bar--4 {
    animation-delay: 200ms;
    width: 300px;
}

.loading{
    position: fixed;
    top: 30%;
    left: 40%;
}