.logo{
    margin: $margin-auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 150px;
}

.localisation{
    background-color: $colour-darkgrey;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: inset 6px 12px 10px -10px #ababab;


    i{
        margin-right: 10px;
        
    }
}