.load, .loading h1{
    text-align: center;
    font-family: 'Shrikhand';
    margin-top: 20px;
    width: $size*10;
    display: flex;
    justify-content: space-evenly;
    animation: fadeout 1s 3s 1 alternate forwards ;

    &__bar {
        height: 100%;
        width: $size;
        animation: bounce 0.85s  backwards infinite ease-in-out alternate;           
    }
}

.load__bar--1 {
    animation-delay: 1000ms;
    width: 300px;
}

.load__bar--3 {
    animation-delay: 600ms;
    width: 300px;
    
}

.load__bar--4 {
    animation-delay: 200ms;
    width: 300px;
}

.loading{
    position: absolute ;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

.container{
    animation: fadein 1s 4s 1 alternate backwards ;
}

@keyframes bounce {
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}
@keyframes fadeout {
    from   { opacity: 1; }
    to     { opacity: 0; }
}

@keyframes fadein {
    from   { opacity: 0; }
    to     { opacity: 1; }
}
