@charset "UTF-8";
/*Couleur*/
/*Marge*/
/*Taille*/
/*Effet Éclaircissement*/
/*Couleur dégradé*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*Style de base des lien*/
a {
  text-decoration: none;
  color: black;
}

input[type=checkbox] {
  appearance: none;
}

#section1 h1 {
  font-family: "Roboto";
  font-weight: 700;
}

#section1 p {
  font-family: "Roboto";
  font-weight: 400;
}

.localisation span {
  font-family: "Roboto";
  font-weight: 700;
}

h2 {
  font-family: "Roboto";
  font-weight: 700;
}

.text_fonction {
  font-family: "Roboto";
  font-weight: 700;
}
.text_fonction i {
  color: grey;
}

.bulle_number {
  font-family: "Roboto";
  font-weight: 400;
}

.card h3 {
  font-family: "Roboto";
  font-weight: 700;
}

.card p {
  font-family: "Roboto";
  font-weight: 400;
}

footer p {
  font-family: "Roboto";
  font-weight: 400;
}

.title_menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: initial;
}

.price {
  font-family: "Roboto";
  font-weight: 700;
}

.btn {
  color: white;
  background: #9356DC;
  cursor: pointer;
}
.btn:hover {
  background: #9356DC;
  color: #FF79DA;
}
.btn--full-width {
  width: 100%;
  margin: 0 auto;
}

/*Bouton "Explorer nos restaurants (Page: index.html)*/
.btn_explorer {
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 400;
  border-radius: 30px;
  padding: 15px;
  z-index: 200;
  display: block;
  margin: auto;
  width: 180px;
  min-width: 160px;
  box-shadow: 0px 4px 15px 0px #b9b7b7;
}
.btn_explorer:hover {
  box-shadow: 0px 4px 15px 7px #868484;
  opacity: 0.8;
}

/*Bouton "Commande" (Page: Menu1.html, Menu2.html Menu3.html & Menu4.html) */
.btn_commande {
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px;
  display: inline-block;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 160px;
  min-width: 160px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
}
.btn_commande:hover {
  box-shadow: 0px 4px 15px 7px #868484;
  opacity: 0.8;
}

/*Flèche Retour à la page index.html */
.btn_return {
  position: absolute;
  top: 20px;
  left: 25px;
}

/*Style Logo haut de page*/
.logo {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  width: 150px;
}

/*Container "Localisation" en dessous du logo */
.localisation {
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 6px 12px 10px -10px #ababab;
}
.localisation i {
  margin-right: 10px;
}

/*Apparence du pied de page*/
footer {
  background-color: #353535;
  height: 230px;
}
footer p {
  color: white;
  padding-top: 10px;
  padding-left: 5%;
}
footer p i {
  color: white;
  margin-right: 10px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand";
  padding-top: 30px;
  padding-left: 5%;
  padding-bottom: 20px;
  font-weight: normal;
}
footer .contact {
  color: white;
}

.load, .loading span {
  text-align: center;
  font-family: "Shrikhand";
  margin-top: 20px;
  width: 30vh;
  display: flex;
  justify-content: space-evenly;
  animation: fadeout 1s 2s 1 alternate forwards;
}
.load__bar, .loading span__bar {
  height: 100%;
  width: 3vh;
  animation: bounce 0.85s backwards infinite ease-in-out alternate;
}

.load__bar--1 {
  animation-delay: 1000ms;
  width: 300px;
}

.load__bar--3 {
  animation-delay: 600ms;
  width: 300px;
}

.load__bar--4 {
  animation-delay: 200ms;
  width: 300px;
}

.loading {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.loading span {
  font-size: 1.8em;
}

.container, footer {
  animation: fadein 1s 3s 1 alternate backwards;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Animation d'apparition Titre "Entrée"*/
.entre {
  animation: fadein 1s 0.5s 1 alternate backwards;
  /*Animation d'apparition entrée 1*/
  /*Animation d'apparition entrée 2*/
  /*Animation d'apparition entrée 3*/
  /*Animation d'apparition entrée 4*/
}
.entre .entre_one {
  animation: fadein 1s 1s 1 alternate backwards;
}
.entre .entre_two {
  animation: fadein 1s 1.5s 1 alternate backwards;
}
.entre .entre_three {
  animation: fadein 1s 2s 1 alternate backwards;
}
.entre .entre_four {
  animation: fadein 1s 2.3s 1 alternate backwards;
}

/*Animation d'apparition Titre "Plats"*/
.plats {
  animation: fadein 1s 2.5s 1 alternate backwards;
  /*Animation d'apparition plat 1*/
  /*Animation d'apparition plat 2*/
  /*Animation d'apparition plat 3*/
}
.plats .plat_one {
  animation: fadein 1s 3s 1 alternate backwards;
}
.plats .plat_two {
  animation: fadein 1s 3.5s 1 alternate backwards;
}
.plats .plat_three {
  animation: fadein 1s 4s 1 alternate backwards;
}

/*Animation d'apparition Titre "Desserts"*/
.desserts {
  animation: fadein 1s 4.5s 1 alternate backwards;
  /*Animation d'apparition dessert 1*/
  /*Animation d'apparition dessert 2*/
  /*Animation d'apparition dessert 3*/
}
.desserts .desserts_one {
  animation: fadein 1s 5s 1 alternate backwards;
}
.desserts .desserts_two {
  animation: fadein 1s 5.5s 1 alternate backwards;
}
.desserts .desserts_three {
  animation: fadein 1s 6s 1 alternate backwards;
}

.btn_commande {
  animation: fadein 1s 6.5s 1 alternate backwards;
}

input:checked + label {
  animation: fadeout 1s 1 alternate forwards;
}

/*Coeur Page index.html*/
.icon {
  width: 35px;
  right: 20px;
  position: absolute;
  bottom: 20px;
  height: 30px;
  cursor: pointer;
}

.plein {
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  background-clip: text;
  font-size: 1.6em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.black {
  background-color: white;
  font-size: 1.6em;
  -webkit-text-stroke: 2px;
  -webkit-text-fill-color: transparent;
}

/*Coeur Page Menu.html*/
.icon2 {
  width: 35px;
  right: 25px;
  position: absolute;
  height: 30px;
}

.black2 {
  background-color: #f6f6f6;
  font-size: 1.6em;
  -webkit-text-stroke: 2px;
  -webkit-text-fill-color: transparent;
}

.menu_background:hover .caption {
  animation: check 1s 0.5s 1 alternate forwards;
}
.menu_background:hover .caption i {
  animation: icon 1s 0.5s 1 alternate forwards;
}

@keyframes check {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}
@keyframes icon {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
/*Caption check*/
.caption {
  display: flex;
  width: 0;
  height: 70px;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 0;
  right: 0;
}
.caption i {
  font-size: 25px;
  color: white;
  opacity: 0;
}

#section1 {
  background-color: #f6f6f6;
  height: 100%;
}
#section1 h1 {
  padding-top: 45px;
  padding-left: 55px;
  padding-right: 55px;
}
#section1 p {
  padding-top: 10px;
  padding-left: 48px;
  padding-right: 50px;
}
#section1 .btn_section1 {
  padding-bottom: 60px;
  padding-top: 25px;
}

#section2 h2 {
  padding-bottom: 20px;
}
#section2 .bulle_number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px;
  padding-left: 12px;
  padding-right: 10px;
  position: absolute;
  left: -16px;
  top: 16px;
}
#section2 .text_fonction {
  display: block;
  margin-top: 6px;
}
#section2 .three_fonction {
  margin-bottom: 50px;
}

#section3 {
  background-color: #f6f6f6;
}
#section3 h2 {
  padding-top: 50px;
  margin-left: 5%;
  padding-bottom: 20px;
}
#section3 .grp_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#section3 .grp_card .card {
  position: relative;
  box-shadow: 0px 4px 15px 0px #ded9d9;
}
#section3 .grp_card .card span {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px;
  border-radius: 2px;
  top: 10px;
  right: 10px;
}
#section3 .imgcard {
  width: 100%;
  object-fit: cover;
  object-position: 50% 61%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#section3 .card {
  background-color: white;
  border-radius: 15px;
  width: 20%;
  min-width: 330px;
  height: 230px;
}
#section3 .card h3, #section3 .card p {
  margin-left: 15px;
  margin-top: 5px;
}

.card_menu_one, .card_menu_two, .card_menu_three {
  margin-bottom: 15px;
}

.card_menu_four {
  margin-bottom: 65px;
}

#section2 .bouton, #section1 {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex_row {
  flex-direction: row;
}

.flex_column {
  flex-direction: column;
}

.title_section {
  margin-left: 5%;
}

.background_white {
  background-color: white;
}

.margin_top {
  margin-top: 35px;
}

.image1 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.title_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  justify-content: space-around;
  position: relative;
}

.menu_background {
  background-color: white;
  width: 96%;
  height: 70px;
  margin-top: 15px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.menu_background h2 {
  padding: 10px 0 5px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3em;
}
.menu_background p {
  padding: 0px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu_background .price {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-decoration: solid;
}

.check {
  background-color: green;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  width: 0px;
  border-radius: 0 20px 20px 0;
  display: block;
  cursor: pointer;
}
.check i {
  margin-top: 25px;
  margin-left: 30px;
  font-size: 25px;
}

.check:checked {
  width: 85px;
}

#section1_menu {
  background-color: #f6f6f6;
  margin-top: -50px;
  position: relative;
  border-radius: 40px 40px 0 0;
}
#section1_menu .commande {
  text-align: center;
}

.margin_menu {
  margin-left: 5%;
  margin-top: 40px;
  position: relative;
  font-family: "Roboto";
  font-weight: 400;
}

.underline::before {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
  content: "";
  display: block;
  top: 23px;
}

.underline {
  margin-bottom: 30px;
}

/**/
.btn_fonction {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 30px;
  position: relative;
  box-shadow: 0px 4px 15px 0px #ded9d9;
}
.btn_fonction i {
  margin-right: 25px;
}
.btn_fonction:hover {
  background-color: #fdeaff;
  opacity: 0.8;
  box-shadow: 0px 4px 15px 7px #ded9d9;
}
.btn_fonction:hover i {
  color: #9356DC;
}

.grp_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
