*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../../public/font/Shrikhand.otf");
}
p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

.btn {
  color: white;
  background: #9356DC;
  cursor: pointer;
}
.btn:hover {
  background: #9356DC;
  color: #FF79DA;
}
.btn--full-width {
  width: 100%;
  margin: 0 auto;
}

.btn_explorer {
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  cursor: pointer;
  border-radius: 30px;
  padding: 15px;
  display: block;
  margin: auto;
  width: 160px;
  min-width: 160px;
  box-shadow: 0px 4px 15px 0px #b9b7b7;
}

.btn_commande {
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  cursor: pointer;
  border-radius: 30px;
  padding: 15px;
  display: block;
  margin: auto;
  margin-top: 35px;
  width: 160px;
  min-width: 160px;
  text-align: center;
}

.btn_fonction {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 30px;
  position: relative;
  box-shadow: 0px 4px 15px 0px #ded9d9;
}
.btn_fonction i {
  margin-right: 10px;
}

.grp_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn_return {
  position: absolute;
  top: 20px;
  left: 25px;
}

.heart {
  font-size: 1.6em;
}

.logo {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  width: 150px;
}

.localisation {
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 6px 12px 10px -10px #ababab;
}
.localisation i {
  margin-right: 10px;
}

footer {
  background-color: #353535;
  height: 230px;
}
footer p {
  color: white;
  padding-top: 10px;
  padding-left: 5%;
}
footer p i {
  color: white;
  margin-right: 10px;
}
footer h2 {
  color: white;
  font-family: "Shrikhand";
  padding-top: 30px;
  padding-left: 5%;
  padding-bottom: 20px;
  font-weight: normal;
}

.load, .loading h1 {
  text-align: center;
  font-family: "Shrikhand";
  margin-top: 20px;
  width: 30vh;
  display: flex;
  justify-content: space-evenly;
  animation: fadeout 1s 2s 1 alternate forwards;
}
.load__bar, .loading h1__bar {
  height: 100%;
  width: 3vh;
  animation: bounce 0.85s backwards infinite ease-in-out alternate;
}

.load__bar--1 {
  animation-delay: 1000ms;
  width: 300px;
}

.load__bar--3 {
  animation-delay: 600ms;
  width: 300px;
}

.load__bar--4 {
  animation-delay: 200ms;
  width: 300px;
}

.loading {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.container {
  animation: fadein 1s 3s 1 alternate backwards;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#section1 {
  background-color: #f6f6f6;
  height: 100%;
}
#section1 h1 {
  padding-top: 45px;
  padding-left: 55px;
  padding-right: 55px;
}
#section1 p {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
#section1 .btn_section1 {
  padding-bottom: 60px;
  padding-top: 25px;
}

#section2 h1 {
  padding-bottom: 20px;
}
#section2 .bulle_number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: -10px;
  top: 15px;
}
#section2 .text_fonction {
  display: block;
  margin-top: 6px;
}

#section3 {
  background-color: #f6f6f6;
}
#section3 h1 {
  padding-top: 35px;
  margin-left: 5%;
  padding-bottom: 20px;
}
#section3 .grp_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#section3 .grp_card .card {
  position: relative;
  box-shadow: 0px 4px 15px 0px #ded9d9;
}
#section3 .grp_card .card span {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px;
  border-radius: 2px;
  top: 10px;
  right: 10px;
}
#section3 .grp_card .card i {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 1.6em;
}
#section3 .card img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 61%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#section3 .card {
  background-color: white;
  border-radius: 15px;
  width: 20%;
  min-width: 330px;
  height: 230px;
}
#section3 .card h2, #section3 .card p {
  margin-left: 15px;
  margin-top: 5px;
}

.card_menu_one, .card_menu_two, .card_menu_three {
  margin-bottom: 15px;
}

.card_menu_four {
  margin-bottom: 65px;
}

#section2 .bouton, #section1 {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex_row {
  flex-direction: row;
}

.flex_column {
  flex-direction: column;
}

.title_section {
  margin-left: 5%;
}

.background_white {
  background-color: white;
}

.margin_top {
  margin-top: 35px;
}

#section1 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.image1 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.title_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  justify-content: space-around;
}

.menu_background {
  background-color: white;
  width: 96%;
  height: 70px;
  margin-top: 15px;
  border-radius: 20px;
  position: relative;
}
.menu_background h2 {
  padding: 10px 10px 5px 10px;
}
.menu_background p {
  padding: 0px 10px;
}
.menu_background .price {
  position: absolute;
  right: 10px;
  bottom: 8px;
  text-decoration: solid;
}

#section2_menu {
  background-color: #f6f6f6;
  margin-top: -50px;
  position: relative;
  border-radius: 40px 40px 0 0;
}

.margin_menu {
  margin-left: 5%;
  margin-top: 40px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #99E2D0;
  text-underline-position: under;
  text-decoration-thickness: 3px;
}

/*# sourceMappingURL=style.css.map */
