.btn {
    @include btn
}

.btn_explorer{
    @include btn_explorer
}

.btn_fonction{
    @include btn_fonction
}

.grp_btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn_return{
    position: fixed;
    top: 23px;
    left: 26px;
}
