*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*Style de base des lien*/
a{
    text-decoration: none;
    color: black;
}

input[type="checkbox"] {
    appearance: none;
}