
#section1 h1{
    font-family: 'Roboto';
    font-weight: 700;}

#section1 p{
        font-family: 'Roboto';
        font-weight: 400; 
    
}

.localisation span{
    font-family: 'Roboto';
        font-weight: 700; 
}

h2{
    font-family: 'Roboto';
        font-weight: 700; 
}

.text_fonction {
    font-family: 'Roboto';
        font-weight: 700; 
        
        i{
            color: grey;
        }
}

.bulle_number{
    font-family: 'Roboto';
        font-weight: 400; 
}

.card h3{
    font-family: 'Roboto';
        font-weight: 700;

       
}

.card p{
    font-family: 'Roboto';
    font-weight: 400; 
}

footer p {
    font-family: 'Roboto';
    font-weight: 400; 
}

.title_menu h1{
    font-family: 'Shrikhand', cursive;
    font-weight: initial;
}

.price{
    font-family: 'Roboto';
        font-weight: 700;
}