/*Ajout de la police Shrikhand*/
@font-face{
    font-family: "Shrikhand";
    src: url("../../public/font/Shrikhand.otf");
}


p, span{
    font-family: 'Roboto', sans-serif;
}



h1{
    font-family: 'Shrikhand', sans-serif;
    font-weight: normal;
}

