#section1{
    background-color: $colour-lightgrey;
    height: 150px;
}

#section2, #section1, #section3 h1{
    text-align: center;
}

.grp_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bulle_number{
    background-color: $colour-primary;
    color: $colour-white;
    border-radius: 50%;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: -8px;
    top: 8px;
}

.card img{
    width: 100%;
    object-fit: cover;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card{
    background-color: $colour-white;
    border-radius: 15px;
    width: 20%;
    min-width: 380px;
    margin-right: 2%;
    margin-bottom: 15px;
    height: 280px;
    

    & h2{
        margin-left: 15px;
    }

    & p{
        margin-left: 15px;
    }

}


.flex{
    display: flex;
    justify-content: center;
}

.flex_row{
    flex-direction: row;
}

.flex_column{
    flex-direction: column;
}