#section1{
    background-color: $colour-lightgrey;
    height: 100%;

    h1{
        padding-top: 45px;
        padding-left: 55px;
        padding-right: 55px;
    }

    p{
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .btn_section1{
        padding-bottom: 60px;
        padding-top: 25px;
    }
}

#section2{
    h1{
        padding-bottom: 20px;
    }
    
    .bulle_number{
        background-color: $colour-primary;
        color: $colour-white;
        border-radius: 50%;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        left: -10px;
        top: 15px;
    }

    .text_fonction{
        display: block;
         margin-top: 6px;
    }
}

#section3{
    background-color: $colour-lightgrey;

    h1{
        padding-top: 35px;
        margin-left: 5%;
        padding-bottom: 20px;
    }

    .grp_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
     

        .card{
            position: relative;
            box-shadow: 0px 4px 15px 0px #ded9d9;
            span{
                position: absolute;
                color: #008766;
                background-color: $colour-tertiary;
                padding: 7px;
                border-radius: 2px;
                top: 10px;
                right: 10px;
                
            }

            i{
                position: absolute;
                right: 25px;
                bottom: 25px;
                font-size: 1.6em;

              
            }
        }
     
    }
    

    .imgcard{
        width: 100%;
        object-fit: cover;
        object-position: 50% 61%;
        height: 70%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .card{
        background-color: $colour-white;
        border-radius: 15px;
        width: 20%;
        min-width: 330px;
     
        height: 230px;
        
    
        & h2,  & p{
            margin-left: 15px;
            margin-top: 5px;
        }
    
       
    
    }

}


.card_menu_one, .card_menu_two, .card_menu_three {
    margin-bottom: 15px;

}
.card_menu_four{
    margin-bottom: 65px;
}

#section2 .bouton, #section1{
    text-align: center;
}






.flex{
    display: flex;
    justify-content: center;
}

.flex_row{
    flex-direction: row;
}

.flex_column{
    flex-direction: column;
}

.title_section{
    margin-left: 5%;
}

.background_white{
    background-color: $colour-white;
}

.margin_top{
    margin-top: 35px;
}

  input[type="checkbox"] {
      appearance: none;
  }

  input:checked {
    animation: fadeout 1s 1 alternate forwards ;
}

.colored {
    background:$background-gradient; 
    mask: url(https://img.icons8.com/material-rounded/64/000000/like--v1.png) no-repeat center / 35px;
    -webkit-mask: url(https://img.icons8.com/material-rounded/64/000000/like--v1.png) no-repeat center / 35px;
  }

  .black {
    background-color:black;
    mask: url(https://img.icons8.com/material-rounded/64/000000/like--v1.png) no-repeat center / 35px;
    -webkit-mask: url(https://img.icons8.com/material-rounded/64/000000/like--v1.png) no-repeat center / 35px
  }
.icon {
    width: 35px;
    right: 20px;
    position: absolute;
    bottom: 20px;
    height: 30px;
  }

.z_index{
    z-index: $z-index;
}



  
