#section1{
    img{
       width: 100%; 
       height: 250px;
       object-fit: cover;
    }
}

.image1{
    width: 100%; 
    height: 250px;
    object-fit: cover;
}

.title_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-around;
}

.menu_background{
    background-color: $colour-white;
    width: 96%;
    height: 70px;
    margin-top: 15px;
    border-radius: 20px;
    position: relative;
    

    h2{
        padding: 10px 10px 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
  overflow: hidden;
    }

    p{
        padding: 0px 10px;
    }

    .price{
        position: absolute;
        right: 10px;
        bottom: 8px;
        text-decoration: solid;
    }
}

.check {
    background-color: green;
   position:absolute;
   right: 0;
   bottom: 0;
   margin: 0;
   height: 100%;
   width:85px;
   border-radius: 0 20px  20px 0;
   
   i{
    margin-top: 25px;
    margin-left: 30px;
    font-size:25px;
  }
 }
 
   


#section2_menu{
    background-color: $colour-lightgrey;
    margin-top: -50px;
    position: relative;
    border-radius: 40px 40px 0 0;
}

.margin_menu{
    @include margin_menu
}

.underline::after{
    position:absolute;
    width: 50px;
    height: 5px;
    background-color: $colour-tertiary; 
    content:0 ;
  }
/**/
.btn_fonction{
    @include btn_fonction
}
.grp_btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
