@mixin btn {
    color: $colour-white;
    background: $colour-primary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-secondary;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

@mixin btn_explorer {
    color: $colour-white;
    background: $background-gradient;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px;
    display: block;
    margin: auto;
    width: 160px;
    min-width: 160px;
    box-shadow: 0px 4px 15px 0px #b9b7b7;

  
    
}

@mixin btn_commande {
    color: $colour-white;
    background: linear-gradient(170deg, $colour-secondary, $colour-primary);
    cursor: pointer;
    border-radius: 30px;
    padding: 15px;
    display: block;
    margin: auto;
    margin-top: 35px;
    width: 160px;
    min-width: 160px;
    text-align: center;
    
}

@mixin btn_fonction {
    background-color: $colour-lightgrey;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 30px;
    position: relative;
    box-shadow: 0px 4px 15px 0px #ded9d9;
  

    i{
        margin-right: 10px;
    }
    
    &:hover{
        background-color: $light-main-color;

    }
   
}

@mixin heart {

    font-size: 1.6em;
    
}

@mixin margin_menu {
    margin-left: 5%;
    margin-top: 40px;
    
}

