@mixin btn {
    color: $colour-white;
    background: $colour-primary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-secondary;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

@mixin btn_explorer {
    color: $colour-white;
    background: linear-gradient(170deg, $colour-secondary, $colour-primary);
    cursor: pointer;
    border-radius: 30px;
    padding: 15px;
    display: block;
    margin: auto;
    width: 160px;
    
}

@mixin btn_fonction {
    background-color: $colour-lightgrey;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: relative;

    i{
        margin-right: 10px;
    }
    
}

@mixin heart {

    font-size: 1.6em;
    
}