/*Couleur*/
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-darkgrey: #eaeaea;
$colour-lightgrey: #f6f6f6;
$colour-footer: #353535;
$colour-white: white;

/*Marge*/
$margin-auto: auto;

/*Taille*/
$size: 3vh;


/*Effet Éclaircissement*/
$light-main-color: lighten($colour-lightgrey,1%);

/*Couleur dégradé*/
$background-gradient: linear-gradient(170deg,$colour-secondary,$colour-primary);
